.container {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    display: flex;
    padding: 20vh 0 0 30vw;
}

.head-section {
    display: flex;
    flex-direction: column;
}

.head__ears {
    display: flex;
    flex-direction: row;
}

.head__ears__ear {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-color: orange transparent;
    border-style: solid;
    border-width: 0 40px 80px 40px;
    height: 0;
    width: 0;
    margin-right: 40px;
}

.face .head__ears .head__ears__ear {
    border-width: 80px 40px 0 40px;
}

.face {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: orange;
}

.face__eyes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.face__eyes__eye {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    margin-right: 40px;
}

.face__nose {
    margin: 20px 0 0 75px;
    width: 10px;
    height: 10px;
    background-color: darkred;
    transform: rotate(45deg);
}

.face__nose::before,
.face__nose::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: darkred;
    border-radius: 50%;
    position: fixed;
}

.face__nose::before {
    top: -5px;
    left: 0;
}

.face__nose::after {
    top: 0;
    left: -5px;
}

.face__lips {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 0 50px;

}

.face__lip {
    display: block;
    width: 30px;
    height: 15px;
    border-radius: 0 0 50px 50px;
    border-bottom: 2px solid #000;
}

.body {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 40px;
    width: 600px;
    height: 300px;
    border-radius: 50%;
    background: repeating-linear-gradient(125deg, orange, darkorange, orange 50px);
}

.body__foot {
    margin: 36% 3% 0 15%;
    height: 150px;
    width: 20px;
    background: repeating-linear-gradient(125deg, orange, darkorange, orange 50px);
}

.body__foot:nth-child(2) {
    margin: 36% 2% 0 15%;
}

.body__foot:nth-child(3) {
    margin: 36% 1% 0 15%;
}

.body__foot__heel {
    margin: 700% 0 0 -35%;
    height: 30px;
    width: 30px;
    background: darkgoldenrod;
    border-radius: 50%;
}

.body__tail {
    margin: -158% 0 0 319%;
    width: 150px;
    height: 150px;
    border-radius: 0 100px 150px 0;
    border-bottom: 32px solid orange;
    border-right: 20px solid orange;
}