.cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20vh 0 0 30vw;
}

.head__ears {
    display: flex;
}

.head__ear {
    width: 60px;
    height: 60px;
    background: orange;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: -25px -25px 40px 60px;
}

.cat__head {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: orange;
}

.head__eyes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.head__eye {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    margin-right: 40px;
}

.head__nose {
    margin: 20px 0 0 75px;
    width: 10px;
    height: 10px;
    background-color: darkred;
    transform: rotate(45deg);
}

.head__nose::before,
.head__nose::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: darkred;
    border-radius: 50%;
    position: fixed;
}

.head__nose::before {
    top: -5px;
    left: 0;
}

.head__nose::after {
    top: 0;
    left: -5px;
}

.head__lips {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: -30px 0 0 50px;
}

.head__tongue{
    margin: 0 0 0 70px;
    display: block;
    width: 20px;
    height: 25px;
    background: pink;
    border-radius: 0 0 50px 50px;
    border-bottom: 2px solid darksalmon;
}

.head__lip {
    display: block;
    width: 30px;
    height: 15px;
    background: orange;
    border-radius: 0 0 50px 50px;
    border-bottom: 2px solid #000;
}

.cat__body {
    display: flex;
    flex-direction: row;
    margin: -60px 0 0 40px;
    width: 600px;
    height: 300px;
    border-radius: 50%;
    background: repeating-linear-gradient(125deg, orange, darkorange, orange 50px);
}

.body__foot {
    margin: 36% 3% 0 15%;
    height: 150px;
    width: 20px;
    background: repeating-linear-gradient(125deg, orange, darkorange, orange 50px);
}

.body__foot:nth-child(2) {
    margin: 36% 2% 0 15%;
}

.body__foot:nth-child(3) {
    margin: 36% 1% 0 15%;
}

.body__heel {
    margin: 700% 0 0 -35%;
    height: 30px;
    width: 30px;
    background: darkgoldenrod;
    border-radius: 50%;
}

.cat__tail {
    margin: -315px 0 0 637px;
    width: 150px;
    height: 150px;
    border-radius: 0 100px 150px 0;
    border-bottom: 32px solid orange;
    border-right: 20px solid orange;
}